.App {
  text-align: center;
  background-image: linear-gradient(lightgreen, white, gray);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header
{
  background: #3a3335;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px dashed #d0bcd5;
        border-radius: 8px;
        height: 10vh;
}
.login
{
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 margin-top: 100px;
  
      
}
.button
{
  margin-top: 20px;
}
.captcha
{
  margin-left: 550px;
}
.navbar
{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: 

}
.navbar Link
{
  background: white;

}
.div
{
  display: flex;
  margin-left:50px;
  
}
.div1
{
  margin-left: 100px;
}







